{% extends "base.html" %}

{% block head %}

<script type="text/javascript">

    $(document).ready(function() {

        $('[id^=sentence-]').each(function () {
            var sentece_num = $(this).attr('id').match(/[\d]+$/);
            sentence = $(this).text();
            var re = /\[blank\]/;
            var count = 1;
            var match = sentence.match(re);
            while (match){
                input_html = '<input type="text" name="' + sentece_num + '-' + count +'"></input>';
                sentence = sentence.replace(re, input_html);
                match = sentence.match(re);
                count++;
            }
            $(this).html(sentence);

        });

    });

</script>


{% endblock %}


{% block content %}

    <div class="quiz-header">
        <div class="row">
            <div class="col-sm-12">
                <div id="title">
                    <h2>{{quiz.title}}</h2>
                    <br>
                </div>
                <div id="description">
                    {% autoescape off %}
                    <h4>{{quiz.instructions}}</h4>
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <br>
    </div>
    <div id="quiz-content">
        <form action="" method="GET">
            {% for s in sentences%}
                <div class="row sentence">
                    <div class="col-sm-1">
                        <p>{{ forloop.counter }}</p>
                    </div>
                    <div class="col-sm-11">
                        <div id="sentence-{{ s.id }}">
                            {{ s.render_text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div id="quiz-footer">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <button type="submit" class="btn btn-primary">Submit quiz</button>
            </div>
        </div>
    </div>

        </form>



{% endblock %}


